services:
  reviewdb:
    container_name: reviewdb
    image: postgres:15.3-alpine
    restart: unless-stopped
    labels:
      - traefik.enable=false
    networks:
      - reviewsnet
    environment:
      - POSTGRES_USER
      - POSTGRES_PASSWORD
      - POSTGRES_DB
    ports:
      - "5467:5432"
    volumes:
      - reviewspgdata:/var/lib/postgresql/data
      - reviewspgconf:/etc/postgresql
      - reviewspglog:/var/log/postgresql
  reviews:
    container_name: reviews
    image: reviews
    restart: unless-stopped
    environment:
      - GO_ENV
      - HOST
      - PORT
      - DSN
      - NTFY
      - METRICS_SECRET
      - PROMETHEUS
    healthcheck:
      test: ["CMD", "wget", "--quiet", "--tries=1", "--spider", "http://localhost:3169/healthcheck"]
    labels:
      - traefik.enable=true
      - traefik.http.routers.reviews.rule=Host(`poc.reviews.urx.ink`)
      - traefik.http.routers.reviews.entrypoints=web,websecure
      - traefik.http.routers.reviews.service=reviews
      - traefik.http.services.reviews.loadbalancer.server.port=3169
      - traefik.http.routers.reviews.tls=true
      - traefik.http.routers.reviews.tls.certresolver=letsencrypt
      - traefik.http.middlewares.forwardedheaders.headers.customrequestheaders.X-Forwarded-Proto=https
      - traefik.http.middlewares.forwardedheaders.headers.customrequestheaders.X-Forwarded-For={ip}
      - traefik.http.middlewares.websocket-headers.headers.customrequestheaders.Upgrade=websocket
      - traefik.http.middlewares.websocket-headers.headers.customrequestheaders.Connection=Upgrade
      - traefik.http.routers.reviews.middlewares=websocket-headers
      - traefik.port=80
    networks:
      - reviewsnet
      - proxy
      - monitoring
    ports:
      - 3169:3169

networks:
  proxy:
    external: true
  monitoring:
    external: true
  reviewsnet:
    driver: bridge
    external: false

volumes:
  reviewspgdata:
    driver: local
  reviewspgconf:
    driver: local
  reviewspglog:
    driver: local
